Project/Web References/ResourceService/resourceservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddOrUpdateRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rmJsonObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrUpdateRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateWorkPlace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wpJsonObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateWorkPlaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrUpdateWorkPlaceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateConferenceRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crJsonObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateConferenceRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrUpdateConferenceRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateBillboard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bbJsonObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateBillboardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrUpdateBillboardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resourceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResourceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeaseInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeaseOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseDel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseDelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeaseDelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddOrUpdateRoomSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateRoom" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateRoomSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateWorkPlaceSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateWorkPlace" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateWorkPlaceSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateWorkPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateConferenceRoomSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateConferenceRoom" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateConferenceRoomSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateConferenceRoomResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateBillboardSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateBillboard" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateBillboardSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateBillboardResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteResourceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteResource" />
  </wsdl:message>
  <wsdl:message name="DeleteResourceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResourceResponse" />
  </wsdl:message>
  <wsdl:message name="LeaseInSoapIn">
    <wsdl:part name="parameters" element="tns:LeaseIn" />
  </wsdl:message>
  <wsdl:message name="LeaseInSoapOut">
    <wsdl:part name="parameters" element="tns:LeaseInResponse" />
  </wsdl:message>
  <wsdl:message name="LeaseOutSoapIn">
    <wsdl:part name="parameters" element="tns:LeaseOut" />
  </wsdl:message>
  <wsdl:message name="LeaseOutSoapOut">
    <wsdl:part name="parameters" element="tns:LeaseOutResponse" />
  </wsdl:message>
  <wsdl:message name="LeaseDelSoapIn">
    <wsdl:part name="parameters" element="tns:LeaseDel" />
  </wsdl:message>
  <wsdl:message name="LeaseDelSoapOut">
    <wsdl:part name="parameters" element="tns:LeaseDelResponse" />
  </wsdl:message>
  <wsdl:portType name="ResourceServiceSoap">
    <wsdl:operation name="AddOrUpdateRoom">
      <wsdl:input message="tns:AddOrUpdateRoomSoapIn" />
      <wsdl:output message="tns:AddOrUpdateRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateWorkPlace">
      <wsdl:input message="tns:AddOrUpdateWorkPlaceSoapIn" />
      <wsdl:output message="tns:AddOrUpdateWorkPlaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateConferenceRoom">
      <wsdl:input message="tns:AddOrUpdateConferenceRoomSoapIn" />
      <wsdl:output message="tns:AddOrUpdateConferenceRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateBillboard">
      <wsdl:input message="tns:AddOrUpdateBillboardSoapIn" />
      <wsdl:output message="tns:AddOrUpdateBillboardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <wsdl:input message="tns:DeleteResourceSoapIn" />
      <wsdl:output message="tns:DeleteResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseIn">
      <wsdl:input message="tns:LeaseInSoapIn" />
      <wsdl:output message="tns:LeaseInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseOut">
      <wsdl:input message="tns:LeaseOutSoapIn" />
      <wsdl:output message="tns:LeaseOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseDel">
      <wsdl:input message="tns:LeaseDelSoapIn" />
      <wsdl:output message="tns:LeaseDelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourceServiceSoap" type="tns:ResourceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrUpdateRoom">
      <soap:operation soapAction="http://tempuri.org/AddOrUpdateRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateWorkPlace">
      <soap:operation soapAction="http://tempuri.org/AddOrUpdateWorkPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateConferenceRoom">
      <soap:operation soapAction="http://tempuri.org/AddOrUpdateConferenceRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateBillboard">
      <soap:operation soapAction="http://tempuri.org/AddOrUpdateBillboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <soap:operation soapAction="http://tempuri.org/DeleteResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseIn">
      <soap:operation soapAction="http://tempuri.org/LeaseIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseOut">
      <soap:operation soapAction="http://tempuri.org/LeaseOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseDel">
      <soap:operation soapAction="http://tempuri.org/LeaseDel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourceServiceSoap12" type="tns:ResourceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrUpdateRoom">
      <soap12:operation soapAction="http://tempuri.org/AddOrUpdateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateWorkPlace">
      <soap12:operation soapAction="http://tempuri.org/AddOrUpdateWorkPlace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateConferenceRoom">
      <soap12:operation soapAction="http://tempuri.org/AddOrUpdateConferenceRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateBillboard">
      <soap12:operation soapAction="http://tempuri.org/AddOrUpdateBillboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <soap12:operation soapAction="http://tempuri.org/DeleteResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseIn">
      <soap12:operation soapAction="http://tempuri.org/LeaseIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseOut">
      <soap12:operation soapAction="http://tempuri.org/LeaseOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseDel">
      <soap12:operation soapAction="http://tempuri.org/LeaseDel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceService">
    <wsdl:port name="ResourceServiceSoap" binding="tns:ResourceServiceSoap">
      <soap:address location="http://zy.dorlly.com/webapi/resourceservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourceServiceSoap12" binding="tns:ResourceServiceSoap12">
      <soap12:address location="http://zy.dorlly.com/webapi/resourceservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>